body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  input[type=text] {
    width: 330px;
    margin-top: 120px;
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 22px;
  }
}

.weatherCardWeekly {
  top: 70px;
  /* height: 100vh; */
  background-attachment: fixed;
  background-position: sticky;
  width: 100vw;
  background-image: url('./assets/blue-sky-30.jpg');
  overflow:  scroll ;  
}

.weatherCardDate {
  font-size: 23px;
  margin-top: 30px;
  font-weight: bold;
}

.weatherCardDescription {
  font-size: 20px;
  text-transform: capitalize;
}

.weatherCardTemperature {
  font-size: 20px;
}

.minMaxWeather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
  color: black;
  margin-top: -107px;
}

.lineClassMain {
  position: absolute;
  top: 75px;
  width: 333px;
  height: 4px;
  background-color: white;
}

.lineClassOne {
  height: 3px;
  background-color: white;
  width: 333px;
}

.lineClassTwo {
  width: 53px;
  height: 4px;
  background-color: white;
  margin-bottom: 15px;
}

.btn {
  margin-top: 5px;
}

.weatherCardWeeklyMainDetails {
  opacity: 0.5;
  border-radius: 25px; 
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  padding-top: 15px; 
  padding-left: 20px;
  font-size: 20px;
  margin: 20px 0px;
}

.weatherCardWeeklyMainDetails p:hover {
  font-weight: bold;
}


.weatherCardMain {
  text-align: center;
  font-size: 33px;
  color: white;
}

.weatherIconWeekly {
  width: 80px;
  height: 80px;
}

.dateBuilderWeekly {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  opacity: 0.7;
  color: black;
  width: 100%;
  width: 100vw;
  left: 0;
  position: absolute;
}

.spinner {
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 5;
  top: 280px;
  left: 160px;
}